<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <script
      src="https://kit.fontawesome.com/a8d1dbcb7c.js"
      crossorigin="anonymous"
    ></script>
    <title><%= siteName %></title>
  </head>
  <header class="header">
    <div class="header__column">
      <a href="<%= routes.home %>"><h1>🍪 <%= siteName %></h1></a>
    </div>
    <div class="header__column">
      <ul>
        <li><a href="<%= routes.join %>">Join</a></li>
        <li><a href="<%= routes.login %>">Login</a></li>
      </ul>
    </div>
  </header>

  <section>
    <%- body -%>
  </section>
  <footer>
    <i class="fas fa-cookie-bite"></i>
    <%= siteName %> <%= new Date().getFullYear() %>
  </footer>
</html>
