<% layout('layouts/main') -%>
<% stylesheet('/static/styles.css') -%>
<% script('/static/main.js') -%>

<div class="words">
    <% words.forEach(val=>{ %>
    <a href="<%=routes.wordDetail(val.id)%>">
        <div class="word">
          <h2 class="title"><%= val.title %></h1>
          <p class="description"><%= val.description %></p>
          <p class="text"><%= val.text %></p>
        </div>
        <h6 class="views"><%= val.views %></h6>
      </a>
    <%}) %>
</div>
